*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}

body{
    background-color: #a6abad;
    display: block;
}

.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
}

section{
    display: block;
}
.left-section{
    grid-column: span 1;
    padding: 1rem;
    background-color: #9d8297;
}
.right-section{
    grid-column: span 1 / span 2;
    background-color: #f7f7f7;
}

.profile-image{
    text-align: center;
   
    display: block;
    margin: auto;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
}

.name{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}

.designation{
    color: white;
    font-size: 1rem;
    letter-spacing: 0.02px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.description{
    color: white;
    font-size: 0.75rem;
    letter-spacing: 0.1px;
    text-align: center;
    padding: 1rem;
}

.social-media{
    display: flex;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0;
    background-color: white;
    
}
.social-media .icon{
    padding: 15px;
}

.personal-details{
     color: white;
     margin: 0;
     padding-top: 20px;
     
}
.personal-details .icon{
    letter-spacing: 0.09px;
    padding: 4px;
}

.skills .skills-title{
    color: white;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.skills .skill-name{
    letter-spacing: 0.02px;
    color: white;
    font-size: 0.65rem;
    font-weight: 700;
    text-align: left;
    padding-bottom: 0.5rem;
}
.skills .skill-progress{
    padding-bottom: 0.5rem;
}
.skills .progress-bar{
    border: 1px solid white;
    height: 4px;
}

.right-main-content{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.right-main-content .right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.right-main-content .para{
    letter-spacing: 0.1px;
    padding: 0.5rem;
}
.right-main-content h5{
    letter-spacing: 0.1px;
    padding: 0.5rem;
}
.right-main-content ul{
    letter-spacing: 0.02px;
    padding: 1.5rem;
    font-size: 13px;
}

@media screen and (max-width: 673px) {.main-content {
        grid-template-columns: repeat(1,1fr);
    }
}
